{% extends 'USER/basic.html' %}

{% block main %}

<!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center py-5">
            <h1 class="display-3 text-white mb-4 animated slideInDown">IR Sensor Data</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Pages</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Sensors</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->

<div class="container pt-4 px-4">
    <div class="text-center rounded p-4" style="background-color: #e8f5e9">
        <h3 class="mb-4">IR Sensor Data</h3>
        <div class="rounded table-responsive">
            <table class="border-success table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-dark">
                        <th scope="col">Sr.NO</th>
                        <th scope="col">Sensor Value</th>
                        <th scope="col">Reading Time</th>
                    </tr>
                </thead>
                <tbody>
                {% for IR in ir_sensors %}
                  <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ IR.value }}</td>
                    <td>{{ IR.timestamp }}</td>
                  </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>



{% endblock %}